body {
    background-image: url('../assets/clearSky.jpg');
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
    margin: 0; /* Remove default margin */
}

#comic-container {
    display: flex; /* Use Flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
}

#panel {
    max-width: 50%;
    max-height: 85vh; 
    margin: auto; /* Additional centering for the image */
}

.video-bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Ensure video stays in the background */
}

.overlay {
    position: fixed;
    top: 20%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Ensure text appears above the video */
}

.text-box {
    background-color: #fff; /* White background for the text box */
    padding: 20px; 
    border-radius: 20px; /* add rounded corners to the text box */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Add a shadow to the text box */
}

h1 {
    margin: 0;
    font-size: 2em; 
    color: #111;
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Use Comic Sans */
    font-weight: 200;
}