body {
    background-image: url('../assets/darkSky.jpg');
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
    margin: 0; /* Remove default margin */
}

#comic-container {
    display: flex; /* Use Flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
}

#panel {
    max-width: 95%;
    max-height: 85vh; 
    margin: auto; /* Additional centering for the image */
}

